[submodule "pack/plugins/opt/vim-github-dark"]
	path = pack/plugins/opt/vim-github-dark
	url = https://github.com/djoto/vim-github-dark
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/plugins/opt/coc.nvim"]
	path = pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/opt/L9"]
	path = pack/plugins/opt/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "pack/plugins/opt/vim-autocomplpop"]
	path = pack/plugins/opt/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "pack/plugins/opt/vimtex"]
	path = pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex.git
